:root {
  --byde-sidebar: rgba(0, 0, 0, 0);
  --byde-accent: #ff5e00;
  --byde-sidebar-accent: rgba(255, 255, 255, 0.075);
  --byde-status-live: #67af6d;
  --byde-status-draft: #909090;
  --byde-status-pending: #d2d25b;
  --byde-status-ended: #af6767;
  --byde-status-paid: #42d54e;
  --byde-status-pending-v2: #e6e639;
  --byde-status-cancelled: #d73b3b;
  --byde-status-refunded: #3376d3;
}

@theme inline {
  --color-byde-main: #1a1a1a;
}
